<a href="https://colab.research.google.com/github/zaidcontractor/ds1002-kna6rp/blob/main/homework/week-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 3

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for grading.

## 1. Variables

Declare and populate three variables below. Be sure your code outputs each variable:

1. Containing a string
2. Containing a boolean
3. Containing an integer

In [5]:
# Put answers below
course = "Programming for Data Science"
is_class_active = True
minimum_number_of_students = 20

print(course)
print(is_class_active)
print(minimum_number_of_students)

Programming for Data Science
True
20

## 2. String Manipulation

Take the following string and, using python commands, show how to fulfill the requested task. Be sure your code outputs the requested data.

String: "Go Hoos, Beat JMU!"

1. Write a command that extracts the first 8 characters of the string.
2. Write a command that extracts the last 4 characters of the string.

In [6]:
# Put answers below
string = "Go Hoos, Beat JMU!"

first_eight_chars = string[:8]
last_four_chars = string[-4:]

print(first_eight_chars)
print(last_four_chars)

Go Hoos,
JMU!

# 3. Concatenation

1. Declare any two string variables and concatenate them.
2. Declare a string parameter and concatenate another hard-coded phrase with it.

In [9]:
# Put answers below
string1 = "University "
string2 = "of Virginia"

print(string1 + string2)

string3 = "Go"
print(string3 + " Hoos!")

University of Virginia
Go Hoos!

# 4. Math Operations

Using the following numeric variables, write Python code that fulfills the requested operations. Be sure your code outputs the correct results.

```python
var1 = 9
var2 = 12
var3 = 48
var4 = 4
```

1. Divide var3 by var2
2. Multiply var1 by var4
3. Write a Python expression that gives a result of `16`.

In [10]:
# Put answers below
var1 = 9
var2 = 12
var3 = 48
var4 = 4

print(var3/var2)
print(var1*var4)
print((9%4)*4+12)

4.0
36
16