<a href="https://colab.research.google.com/github/zaidcontractor/ds1002-kna6rp/blob/main/homework/week-7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 7

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

Load the following dataset into pandas and perform the requested operations in code.

Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [26]:
# Load pandas and the data
import numpy as np
import pandas as pd

dataset = pd.read_csv("https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv")

In [23]:
# show how many rows and columns are in this dataset
print(dataset.shape) #(rows, columns)

(25760, 10)

In [27]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

dataset["duration"] = dataset["duration"].str.strip("minutes")
dataset["duration"] = dataset["duration"].astype("int")

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [28]:
# Now display the datatypes in the updated dataframe
print(dataset.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [32]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print("Shortest ride: " + str(dataset["duration"].min()) + " minutes")
print("Longest ride: " + str(dataset["duration"].max()) + " minutes")

Shortest ride: 1 minutes
Longest ride: 1372 minutes

In [39]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
#new_dataset = dataset[dataset["duration"] <= 60]
new_dataset = dataset.query("duration <= 60")

In [38]:
# Now show both the min and max values of the duration column for your new dataset.
print("Minimum value: " + str(new_dataset["duration"].min()))
print("Maximum value: " + str(new_dataset["duration"].max()))

Minimum value: 1
Maximum value: 60

In [42]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
new_dataset = new_dataset.query("25 < tire_size < 27")
new_dataset["tire_size"].head(5)

0     26
3     26
6     26
9     26
12    26
Name: tire_size, dtype: int64

In [57]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
female_riders = new_dataset.reset_index().set_index(["user_gender"])
female_riders = female_riders.loc["Female"]
female_riders.head(5)
print("Count is equal to: " + str(len(female_riders)))

Count is equal to: 2962